:root {
  --dark-primary: #0048ff;
  --light-primary: #0034b9;
  --font-color: #494949;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1 {
  background-color: var(--dark-primary);
  text-align: center;
  margin-top: 0;
  padding: 2rem;
  color: white;
}

label {
  font-weight: bold;
  display: block;
  color: var(--font-color);
}

input {
  font: inherit;
  border: none;
  border-bottom: 2px solid #ccc;
  color: var(--font-color);
  width: 100%;
  display: block;
  margin: 1rem 0;
}

input:focus {
  outline: none;
  border-color: var(--dark-primary);
}

button {
  font: inherit;
  border: 1px solid var(--dark-primary);
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: var(--dark-primary);
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: var(--light-primary);
  border-color: var(--light-primary);
}

.card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.inline-controls {
  display: flex;
}

.control {
  margin: 1rem;
}

#user-input,
#movie-list,
#filter {
  width: 50rem;
  max-width: 90%;
  margin: 2rem auto;
}

#movie-list {
  display: none;
  list-style: none;
  padding: 1rem;
}

#movie-list.visible {
  display: block;
}

#movie-list li {
  margin: 1rem;
  color: var(--dark-primary);
  font-weight: bold;
  font-size: 1.5rem;
}
